.container-content {
  padding-top: 8rem;
  padding-left: 5rem;
  padding-right: 5rem;
  width: 100%;
  margin-bottom: 3rem;
}

.container-content h1 {
  text-align: center;
  font-size: 2.4rem;
  font-weight: 500;
  padding-bottom: 2rem;
  color: var(--txt);
}

.container-content #not-found-img{
  width: 100%;
  display: flex;
  justify-content: center;

}

.container-content .not-found-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1.1rem;
}

.container-content p{
  font-size: 2rem;
  font-weight: 500;
  color: var(--txt);
}

.container-content #goBackBtn{
  background-color: var(--variant-1);
  border: none;
  font-size: 1.1rem;
  width: 120px;
  height: 54px;
  color: #fff;
}

#goBackBtn:hover{
  cursor: pointer;
  background-color: #fff;
  color: var(--txt);
  border: 1px solid #000;
  transition: 0.2s;
}

.container-content h1 span {
  color: var(--variant-2);
}

.container-content .inside-content {
  padding-top: 4rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  flex-wrap: wrap;
}

.item-content {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  overflow: hidden;
  width: 20%;
  border-radius: 10px 10px 10px 10px;
  position: relative;
  
}

.item-content img {
  width: 100%;
  height: 290px;
  margin-bottom: 0.1rem;
  object-fit: cover;
  object-position: center;
}

.item-description {
  padding: 1rem 1.5rem 2rem 1.5rem;
}

.item-content #loc {
  font-size: 0.9rem;
  padding-bottom: 0.5rem;
  color: #b4b4b3;
  align-items: center;
  display: flex;
  gap: 0.5rem;
}

.item-content #loc svg{
  font-size: 0.8rem;
  fill: #b4b4b3;
}

.item-content .rating-class {
  position: absolute;
  top: 45%;
  left: 0;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  
}

.item-content .rating-class #rate{
  background-color: var(--variant-1);
  color: #fff;
  padding: 0.5rem 0.9rem 0.5rem 0.5rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.1rem;
}

.item-content .rating-class svg{
  fill: #fff;
}

.item-content #line-tag{
  margin-bottom: 1rem;
}

.item-content #rest-name {
  font-size: 1.4rem;
  font-weight: 700;
  text-decoration: none;
  color: var(--txt);
  padding-bottom: 24px;
}

.item-content #rest-name:hover{
  color: var(--variant-2);
  transition: 0.3s;
}

.item-content #desc {
  text-align: justify;
  max-height: 120px;
  overflow: hidden;
  padding-top: 0.5rem;
  /* text-overflow: ellipsis; */
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  font-size: 1rem;
  color: #515151;
}

#load-more{
  margin-top: 1rem;
  border: none;
  background-color: var(--variant-1);
  color: #fff;
  width: 150px;
  height: 50px;
  font-size: 1.5rem;
  cursor: pointer;
}

#load-more:hover{
  background-color: #fff;
  color: var(--txt);
  border: 1px solid var(--txt);
  transition: 0.3s;
}
