header .navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 5rem 1.3rem 5rem;
  background-color: var(--primary);
  width: 100%;
  z-index: 999;
  border-bottom: 3px solid var(--variant-3);
  position: fixed;
}
.navbar .navbar-header a {
  color: var(--txt);
  font-size: 2.5rem;
  font-weight: 600;
  padding: 1rem;
  text-decoration: none;
}
.navbar .navbar-header a:hover {
  opacity: 0.9;
}
.navbar .navbar-header span {
  color: var(--variant-2);
}
.navbar .navbar-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.navbar .navbar-nav .list {
  display: flex;
  gap: 3rem;
}
.navbar .navbar-nav .list a {
  text-decoration: none;
  color: var(--txt);
  padding: 7px 15px 7px 15px;
  transition: 0.2s;
  border-radius: 20px 20px 20px 20px;
  font-weight: 500;
  font-size: 1.1rem;
}
.navbar .navbar-nav .list a:hover {
  color: var(--primary);
  background-color: var(--variant-2);
}
.navbar .navbar-nav .extra button {
  width: 44px;
  height: 44px;
  display: none;
}
.navbar .navbar-nav .extra button svg {
  fill: var(--txt);
  font-size: 1.5rem;
}
.navbar .navbar-nav .extra button svg:hover {
  fill: var(--variant-1);
  cursor: pointer;
}
